.nav{
    width:85%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
}
.nav ul li a{
    text-decoration: none;
}
.main{
    display: flex;
    align-items: center;
    justify-content: end;
    
    
}
.main h1{
    height: 104px;
    width: 270px;
    color: #4B3049 ;
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 15px;
    font-size: 40px;
}
.main p{
    color: #795376;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    
   
}
.main button{
    background-color:#B08EAD ;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #B08EAD;
    text-transform: capitalize;
    padding:12px 25px;

}
.main1{
margin-right: 150px;
}
.product1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.cont{
    margin-right: 200px;
    margin-top: 400px;
    
}
.product1 img{
    position: absolute;
    margin-left: 100px;
}
.product1 h5{
    font-weight: 500;
    font-size: 20px;
    color: #B08EAD;
    font-family: "Poppins", sans-serif;
   
}
.product1 p{
    color: #4B3049;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.product1 button{
    padding: 18px 36px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #B08EAD;
    font-size: 15px;
    font-weight: 700;
    color: #B08EAD;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
}
/* product2 */
.product2{
    display: flex;
    flex-direction: row-reverse;
     align-items: center;
    
    
}
.product2 img{
    margin-left: -550px;
    margin-top: 400px;
}
.cont2{
    margin-right: 1000px;
    margin-top: 350px;
    
}

.voilt1{
    position: absolute;
    z-index: 1;
    left: 1300px;
    top: 1450px;
}
.product2 h5{
    font-weight: 500;
    font-size: 20px;
    color: #B08EAD;
    font-family: "Poppins", sans-serif;
   
}
.product2 p{
    color: #4B3049;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.product2 button{
    padding: 18px 36px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #B08EAD;
    font-size: 15px;
    font-weight: 700;
    color: #B08EAD;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
}


.product3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.cont3{
    margin-right: 200px;
    margin-top: 400px;
    
}
.product3 img{
    position: absolute;
    margin-left: 100px;
}
.product3 h5{
    font-weight: 500;
    font-size: 20px;
    color: #B08EAD;
    font-family: "Poppins", sans-serif;
   
}
.product3 p{
    color: #4B3049;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.product3 button{
    padding: 18px 36px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #B08EAD;
    font-size: 15px;
    font-weight: 700;
    color: #B08EAD;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
}
.item{
 background-color: #F4EDF2;
 margin-top: 250px;

}
.item h2{
    font-size: 36px;
    color: #4B3049;
    line-height: 27px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    position: relative;
    text-align: center;
    padding-top: 150px;
}


.item1{
padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.item1 h3{
color: #4B3049;
font-size: 24px;
font-weight: 400;
line-height: 1.5;
font-family: "Poppins", sans-serif;
}
.item1 p{
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    margin-bottom: 0px;
    color: #795376;
    font-weight: 400;
}
.item2{
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 50px;
        padding-bottom: 150px;
    }
    
.item2 h3{
        color: #4B3049;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.5;
        font-family: "Poppins", sans-serif;
        }

.item2 p{
        font-family: "Rubik", sans-serif;
        font-size: 15px;
        margin-bottom: 0px;
        color: #795376;
        font-weight: 400;
    }


.cro{
    background-color: #B08EAD;
    text-align: center;
    padding: 50px;
}
.cro p{
    font-family: "Rubik", sans-serif;
    line-height: 2;
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
}

.cro h5{
    font-size: 16px;
    margin-top: 25px;
    color: #fff;
    margin-bottom: 0;
}
.con1{
    display: flex;
    padding: 150px;
    justify-content: space-around;
}
.con1 h3{
    color: #4B3049;
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.2;
}
.con1 p{
    font-family: "Rubik", sans-serif;
    line-height: 2;
    font-size: 15px;
    color: #795376;
    font-weight: 400;
}

.con2{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-bottom: 150px;
}
.con2 button{
    background-color: transparent; 
    padding: 15px;
    padding-right: 30px;
    justify-content: center;
    border: 1px solid #E4D3DF;
    
}
.con2 h4{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4B3049;
    font-family: "Poppins", sans-serif;
}
.search{
    background-color: #4B3049;
   text-align: center;
   padding: 150px;
}
.searchh h2{
    font-size: 45px;
    line-height: 28px;
    color: #4B3049;
    font-weight: 600;
    line-height: 1.222;
    font-family: "Poppins", sans-serif;
    color: #fff;
    
}
.searchh p{
    font-family: "Rubik", sans-serif;
    line-height: 2;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}
.searchh input{
    border: 1px solid #fff;
    width:50%;
    margin-top: 25px;
    background-color: transparent;
    color: #fff;
    border-radius: 50px;
    padding: 19px;
    line-height: 5px;
}
.searchh button{
    padding: 13px 40px;
    border-radius: 50px;
    background-color: #B08EAD;
    border: 2px solid #B08EAD;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    left:925px;
    margin-top: 30px;
    
}
.foot{
    background-color: #F4EDF2;
    padding: 20px;
    
}
.footer{
    display: flex;
}
.footer p{
    font-family: "Rubik", sans-serif;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 0px;
    color: #795376;
    font-weight: 400;
 }
 .footer h5{
    font-family: "Rubik", sans-serif;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 0px;
    color: #795376;
    font-weight: 400;
    margin-left: 600px;
 }




